/*Falta comentar*/
* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    background-color: lightcyan;
}

body {
    width: 70%;
    margin: 0 auto;
}


h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
    font-size: 4rem;
    text-align: center;
    color: green;
    font-style: italic;
}

p,
li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
    font-size: 1.2rem;
    line-height: 2;
}

nav {
    height: 50px;
    width: auto;
    background-color: lavender;
    display: flex;
    margin-bottom: 10px;
    border-radius: 18px;
}

nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
}

nav li {
    display: inline;
    text-align: center;
    flex: 1;
}

nav a { 
    display: inline-block;
    font-size: 2rem;
    text-transform: capitalize;
    text-decoration:none;
    color: black;
}

a[href="/index.html"] { /* Selector de atributo*/
    color: lightseagreen;
}

.nav-links {
    color: lightseagreen;
}

img{
    border-radius: 30px;
    display: block;
    margin: auto;
}

main {
    display: block;
}

section{
    font-size: 1.5em;
    text-align: justify;
}

footer {
    font-size: 15px;
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 2px 1px lavender;
    margin-top: 10px;
}